   .test {
    font-family: Arial, Helvetica, Verdana, sans-serif; /* Гарнитура шрифта */
    font-size: 150%; /* Размер текста */
    font-weight: lighter; /* Светлое начертание */
    text-align: center;
   }
